<ion-header>
  <ion-toolbar>
    <ion-title>Mensagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item *ngFor="let message of messages">
  <ion-card>
    <ion-chip color="success" (click)="open(message)">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>{{message.titulo}}</ion-label>
    </ion-chip>
  </ion-card>
</ion-item>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
