<ion-header *ngIf="open === true">
  <ion-toolbar>
    <ion-title>Cliente Detalhado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="open === true">
  <ion-card >
    <ion-item>
      <ion-label>{{client.nome}}</ion-label>
      <ion-button fill="outline" slot="end"><ion-icon name="logo-whatsapp"></ion-icon>{{client.telefone}}</ion-button>
    </ion-item>  
    <ion-card-content>
        <p *ngIf="client.profissao" >Profissão: {{client.profissao}}</p>
        <p *ngIf="client.classificacao">Classificação: {{client.classificacao}}</p>
        <p *ngIf="client.favorito === false" >Favoritos: <ion-icon name="bookmark-outline"></ion-icon></p>
        <p *ngIf="client.favorito === true" >Favoritos: <ion-icon name="bookmark"></ion-icon></p>
        <p *ngIf="client.motivo" >Motivo de Compra: {{client.motivo}}</p>
        <p *ngIf="client.costume">Tamanho do Costume: {{client.costume}}</p> 
        <p *ngIf="client.camisa">Tamanho da Camisa: {{client.camisa}}</p>
        <p *ngIf="client.sapato">Tamanho do Sapato: {{client.sapato}}</p>
      <div class="buttons">
        <ion-button slot="start" (click)="edit()"><ion-icon name="create-outline"></ion-icon></ion-button>
        <ion-button color="danger" (click)="presentAlertConfirm()" slot="start"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-header *ngIf="open === false">
  <ion-toolbar>
    <ion-title>Editar Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="open === false">

  <ion-card> 
    <ion-item> 
      <ion-label position="floating">Nome do Cliente:</ion-label>
      <ion-input maxlength="30" [(ngModel)]="client.nome"  type="text"  ></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Telefone Whats (DD+Telefone): </ion-label>
      <ion-input maxlength="13" minlength="12" [(ngModel)]="client.telefone" placeholder="Exemplo: 0119912341234" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Profissão:</ion-label>
      <ion-input maxlength="30" [(ngModel)]="client.profissao" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Classificação:</ion-label>
      <ion-select  [(ngModel)]="client.classificacao" okText="OK">
        <ion-select-option value="potencial">Potencial</ion-select-option>
        <ion-select-option value="medio">Médio</ion-select-option>
        <ion-select-option value="baixo">Baixo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Favoritos:</ion-label>
      <ion-icon slot="end" *ngIf="client.favorito === false || !client.favorito" (click)="isFavorite()" name="bookmark-outline"></ion-icon>
      <ion-icon slot="end" *ngIf="client.favorito === true" (click)="noFavorite()" name="bookmark"></ion-icon>
    </ion-item>  
    <ion-item>
      <ion-label>Motivo da Compra:</ion-label>
      <ion-select [(ngModel)]="client.motivo" okText="Ok">
        <ion-select-option value="casamento">Casamento</ion-select-option>
        <ion-select-option value="casual">Casual</ion-select-option>
        <ion-select-option value="eventos">Eventos</ion-select-option>
        <ion-select-option value="trabalho">Trabalho</ion-select-option>
      </ion-select>
    </ion-item>
  
  
    <ion-item>
      <ion-label>Tamanho do Costume:</ion-label>
      <ion-select [(ngModel)]="client.costume" okText="OK">
        <ion-select-option value="46">46</ion-select-option>
        <ion-select-option value="48">48</ion-select-option>
        <ion-select-option value="50">50</ion-select-option>
        <ion-select-option value="52">52</ion-select-option>
        <ion-select-option value="54">54</ion-select-option>
        <ion-select-option value="56">56</ion-select-option>
        <ion-select-option value="58">58</ion-select-option>
        <ion-select-option value="60">60</ion-select-option>
        <ion-select-option value="62">62</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Tamanho da Camisa:</ion-label>
      <ion-select [(ngModel)]="client.camisa"  okText="OK">
        <ion-select-option value="P/2">P/2</ion-select-option>
        <ion-select-option value="M/3">M/3</ion-select-option>
        <ion-select-option value="G/4">G/4</ion-select-option>
        <ion-select-option value="EG/5">EG/5</ion-select-option>
        <ion-select-option value="EGG/6">EGG/6</ion-select-option>
        <ion-select-option value="EGG/7">EGG/7</ion-select-option>
        <ion-select-option value="EGG/8">EGG/8</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Tamanho do Sapato:</ion-label>
      <ion-select [(ngModel)]="client.sapato"  okText="OK">
        <ion-select-option value="38">38</ion-select-option>
        <ion-select-option value="39">39</ion-select-option>
        <ion-select-option value="40">40</ion-select-option>
        <ion-select-option value="41">41</ion-select-option>
        <ion-select-option value="42">42</ion-select-option>
        <ion-select-option value="43">43</ion-select-option>
        <ion-select-option value="44">44</ion-select-option>
        <ion-select-option value="45">45</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="btn">
      <ion-button color="success" expand="full" shape="round" (click)="save()" type="submit">Salvar Dados</ion-button>
    </div>
  </ion-card>

</ion-content>

